<nav class="navbar navbar-expand-lg haa">
  <div class="container-fluid">
    <a class="navbar-brand ha" href="#">
      <img src="image.png" alt="Logo" width="50" height="50" class="d-inline-block align-center">
      <b>Recipz</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link font-monospace" routerLink="/home">Home</a>
        <a class="nav-link font-monospace" routerLink="/recipe/1">Recipes</a>
      </div>
    </div>
  </div>
</nav>
